@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True TrimLeadingUnderscores : true *@
@using PugTrace.Dashboard
@inherits RazorPage<Pager>

<div class="btn-toolbar-label btn-toolbar-label-sm pull-left" style="margin-left: 5px;">
    Filter by type:
</div>
<div class="btn-toolbar-spacer pull-left"></div>
<div class="btn-group pull-left">
    @Html.Link("All", Model.TypeFilterUrl(null), "btn btn-sm btn-default", Model.TypeFilter == null)
    @Html.Link("Information", Model.TypeFilterUrl("Information"), "btn btn-sm btn-default", Model.TypeFilter == "Information")
    @Html.Link("Critical", Model.TypeFilterUrl("Critical"), "btn btn-sm btn-default", Model.TypeFilter == "Critical")
    @Html.Link("Error", Model.TypeFilterUrl("Error"), "btn btn-sm btn-default", Model.TypeFilter == "Error")
</div>

<div class="btn-group pull-left">
    <button id="search-button-on" class="btn btn-sm btn-default">Search</button>
    <a id="search-button-off" class="btn btn-sm btn-success hide" href="@Url.Home()">
        Search
    </a>
</div>

<script>
    var searchButtonOn = document.getElementById('search-button-on');
    var searchButtonOff = document.getElementById('search-button-off');

    searchButtonOn.onclick = function () {
        var searchBar = document.getElementById('search-bar');
            searchButtonOn.classList.add('hide');
            searchBar.classList.remove('hide');
            searchButtonOff.classList.remove('hide');
    }
</script>