@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using PugTrace.Dashboard
@using PugTrace.Dashboard.Pages
@using PugTrace.Storage;
@inherits TracesPage
@{
    Layout = new LayoutPage();
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-6">
                @Html.Filter(this.Pager)
            </div>
            <div class="col-lg-6">
                <div class="pull-right ">
                    @Html.PerPageSelector(this.Pager)
                </div>
            </div>
        </div>
        <div id="search-bar" class="row hide">
            <div class="col-md-12">
                @Html.Search(this.Pager)
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>User</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @if (this.Count == 0)
                {
                    <tr>
                        <td colspan="3">No traces.</td>
                    </tr>
                }
                else
                {
                    foreach (var trace in this.Model)
                    {
                        @Html.TraceRow(trace)
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @Html.Paginator(this.Pager)
    </div>
</div>
