@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System
@using PugTrace.Dashboard
@using PugTrace.Dashboard.Pages
@inherits RazorPage
@{
    Layout = new LayoutPage();
    Initialize();
}
<div class="btn-toolbar btn-toolbar-top">
    @Html.Filter(this.Pager)
    @Html.PerPageSelector(this.Pager)
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Application</th>
                <th>Source</th>
                <th>Id</th>
                <th>Event Type</th>
                <th>Timestamp</th>
                <th>Machine</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trace in this.Rows)
            {
                var klass = string.Empty;

                if (trace.EventType == "Error")
                {
                    klass = "danger";
                }

                <tr class="@klass">
                    <td>@trace.ApplicationName</td>
                    <td>@trace.Source</td>
                    <td>@trace.Id</td>
                    <td>@trace.EventType</td>
                    <td>@Html.RenderDateTime(trace.UtcDateTime.ToLocalTime())</td>
                    <td>@trace.MachineName</td>
                    <td>@Html.Truncate(trace.Message) <a href="@Url.TraceDetails(trace.TraceId.ToString())">Details…</a></td>
                </tr>
            }
            @if(this.Rows.Count() == 0)
            {
                <tr>
                    <td colspan="7">No traces.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.Paginator(this.Pager)