@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using PugTrace.Dashboard
@using PugTrace.Dashboard.Pages
@using PugTrace.Storage;
@inherits TracesPage
@{
    Layout = new LayoutPage();
}
<div class="btn-toolbar btn-toolbar-top">
    @Html.Filter(this.Pager)
    @Html.PerPageSelector(this.Pager)
</div>
<div id="search-bar" class="row hide">
    <div class="col-md-12">
        @Html.Search(this.Pager)
    </div>
</div>
<div class="table-responsive">
    <table class="table table-condensed borderless">
        <tbody>
            @if (this.Count == 0)
            {
                <tr>
                    <td colspan="2">No traces.</td>
                </tr>
            }
            else
            {
                foreach (var trace in this.Model)
                {
                    @Html.TraceRow(trace)
                }
            }
        </tbody>
    </table>
</div>
@Html.Paginator(this.Pager)