@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using PugTrace.Dashboard
@using PugTrace.Dashboard.Pages
@using PugTrace.Storage
@inherits RazorPage<Trace>
@{
    Layout = null;
    var rowClass = "trace " + Model.EventType.ToLower();
    var data = Model.GetData();
}

<tr class="@rowClass">
    <td style="width: 110px;">
        <span class="label label-default">@Html.RenderDateTime(Model.UtcDateTime.ToLocalTime())</span>
    </td>
    <td style="width: 140px;">
        @Model.PrincipalIdentityName
    </td>
    <td>
        @if (data != null)
        {
            <a href="#" class="btn btn-xs btn-default pull-right expander">Expand</a>
        }
        @Html.Raw(Model.GetMessage())
    </td>
</tr>

@if (data != null)
{
    <tr class="detail hide">
        <td colspan="3">
            @Html.RenderExceptionStackTrace(data.StackTrace)

            @if (data.Parameters.Count > 0)
            {
                <dl class="dl-horizontal">
                    @foreach (var parameter in data.Parameters)
                    {
                        <dt>@parameter.Key</dt>
                        <dd>@parameter.Value</dd>
                    }
                </dl>
            }
        </td>
    </tr>
}
